#about{
    background-color: white;
}

#contact
{
    background-color: black;

}

.box-shadow-full{
    box-shadow:none;
}

.navbar-b.navbar-reduce {
    background-color: black;
}
.navbar-b.navbar-reduce .nav-link {
    color: white;
}
.navbar-b.navbar-reduce .nav-brand {
    color: white;
}

.navbar-b.navbar-trans .nav-link {
    color: white;
}

.navbar-b.navbar-reduce .nav-link:hover{
    color: #c7e6ff;
}
.navbar-b.navbar-trans .nav-brand {
    color: white;
}
.navbar-b.navbar-reduce .navbar-brand{
    color: #3299ee;
}

.navbar-b.navbar-reduce .show > .nav-link, .navbar-b.navbar-reduce .active > .nav-link, .navbar-b.navbar-reduce .nav-link.show, .navbar-b.navbar-reduce .nav-link.active{
    color: #3299ee ;
}
.navbar-b.navbar-reduce .nav-link.active:before{
    color: #3299ee ;
}

.skill-mf .progress {
    background-color: #c7e6ff;
}
.title-s{
    text-align: center;
}

#experience{
    background-color: #c7e6ff;
}

.service-box{
    
    box-shadow: none;
    background-color: #c7e6ff;
    padding: 20% 5% 0 5%;
    
}

.h2-white 
{
    color: white;
    margin-top: 7rem;
    font-size: 50px;

}
.personal-title{
   
    color: #fafafa;
    font-weight: 600;
    font-size: 4.5rem;
    text-align: center;
    padding-top: 5%;
    
    position: relative;
}
 
.p-white
{
    color: white;
}
.personal-sub
{
    padding-top: 2%;
    padding-bottom: 2%;
    position: relative;
}
.adventures
{
    padding: 2% 0 5% 0;
    
}
.title-adventure
{
    font-size: 1.5rem;
    position: relative;
    
    color: #3299ee;
}

.title-adventure:hover{
    color:black;
    cursor: pointer;
}

.headline-av
{
    
    color: #3299ee;
}
.right-head
{
    text-align: right;
    
}
.right-text
{
    text-align: right;
    color: white;
}

 .sect-mt4 {
    margin-top: 0;
}

.sect-pt4 {
    padding-top: 0;
}

#personal{
    background-image: url(../images/dog.jpg);
    opacity:0.9
}
iframe {
    width: 1px;
    min-width: 100%;
    border:0;
  }

  
.progress {
    animation: progressBar 3s ease-in-out;
}
.links{
    text-decoration: underline;
    color: #0d5086;
}

@keyframes progressBar {
  0% { width: 0; }
  100% { width: 100%; }
}
